<h1>Jqueryを遊ぶ</h1>
<ul>
  <li><%= link_to 'トップページ', :root %></li>
  <li><%= link_to 'スライダーで遊ぶ', :users %></li>
  <li><%= link_to 'リサイズで遊ぶ', :administrators %></li>
  <li><%= link_to '座標で遊ぶ', :announcements %></li>
</ul>
<h2>座標で遊ぶ</h2>

<div class="out_put">
    <span>赤</span>
  <span>W:<span class="point_1_width">50px</span>
  <span>H:<span class="point_1_height">50px</span>
  <span class="out_put_point_1">X: No, Y: No</span><br/>
    <span>青</span>
  <span>W:<span class="point_2_width">50px</span>
  <span>H:<span class="point_2_height">50px</span>
  <span class="out_put_point_2">X: No, Y: No</span><br/>
    <span>黄</span>
  <span>W:<span class="point_3_width">50px</span>
  <span>H:<span class="point_3_height">50px</span>
  <span class="out_put_point_3">X: No, Y: No</span><br/>
    <span>橙</span>
  <span>W:<span class="point_4_width">50px</span>
  <span>H:<span class="point_4_height">50px</span>
  <span class="out_put_point_4">X: No, Y: No</span><br/>
    <span>緑</span>
  <span>W:<span class="point_5_width">50px</span>
  <span>H:<span class="point_5_height">50px</span>
  <span class="out_put_point_5">X: No, Y: No</span><br/>
</div>

<div id="wrong_controller">
  <div id="wrong_picture">
  </div>

  <div id="wrong_point_box">
    <div class="point_1">
    </div>
    <div class="point_2">
    </div>
    <div class="point_3">
    </div>
    <div class="point_4">
    </div>
    <div class="point_5">
    </div>
  </div>
</div>