<h1>Jqueryを遊ぶ</h1>
<ul>
  <li><%= link_to 'トップページ', :root %></li>
  <li><%= link_to 'スライダーで遊ぶ', :users %></li>
  <li><%= link_to 'リサイズで遊ぶ', :administrators %></li>
  <li><%= link_to '座標で遊ぶ', :announcements %></li>
</ul>
<h2>スライダーで遊ぶ</h2>

<div class="demo">
  <table>
    <tr>
      <td colspan="4">ブログ全体</td>
    </tr>
    <tr>
      <td colspan="2"><div id="slider"></span></td>
      <td><input type="text" id="amount" style="border:0;" /></td>
      <td>ピクセル</td>
    </tr>
    <tr>
      <td>最小</div>
      <td class="right">最大</td>
    </tr>
  </table>
</div>