<h1>JQureyで遊ぶ</h1>
<ul>
  <li><%= link_to 'トップページ', :root %></li>
  <li><%= link_to 'スライダーで遊ぶ', :users %></li>
  <li><%= link_to 'リサイズで遊ぶ', :administrators %></li>
  <li><%= link_to '座標で遊ぶ', :announcements %></li>
</ul>
<h2>リサイズで遊ぶ</h2>

<p>JQuery UIの処理</p>
<p id="debug">()</p>

<div class="T-1">
  <div class="R-1">
    <div class="D-1">D-1:リサイズ可能</div>
    <div class="D-2">D-2:リサイズ可能</div>
    <div class="D-3">D-3:リサイズ可能</div>  
  </div>
  <div class="R-2">
    <div class="D-1A">D-1A:リサイズできます</div>
    <div class="D-1B">D-1B:リサイズできます</div>
    <div class="D-1C">D-1C:リサイズできます</div>
  </div>
</div>

<div class="A-1">
    <div class="H-1">
      H-1:リサイズ&ドラッグ
      <span class="remove">削除</span>
    </div>
    <div class="H-2">H-2:リサイズ&ドラッグ</div>
    <div class="H-3">H-3:リサイズ&ドラッグ</div>
    <div class="H-4">H-4:リサイズ&ドラッグ</div> 
    <div class="H-5">H-5:リサイズ&ドラッグ</div>
    <div class="H-6">H-6:リサイズ&ドラッグ</div>
</div>


<hr/>
<br/>
<p>ここで元のサイズを変える</p>
<div class="sample-box">
  <div class="Z-S">
    <div class="Z-SA"></div>
    <div class="Z-SB"></div>
    <div class="Z-SC"></div>
  </div>
  <div class="Z-S">
    <div class="Z-SA1"></div>
    <div class="Z-SB2"></div>
    <div class="Z-SC3"></div>
  </div>
</div>
<hr/>
<br/>
<p>実際のレイアウト</p>
<div class="actual-box">
  <div class="Z-A">
    <div class="Z-AA"></div>
    <div class="Z-AB"></div>
    <div class="Z-AC"></div>
  </div>
  <div class="Z-A">
    <div class="Z-AA1"></div>
    <div class="Z-AB2"></div>
    <div class="Z-AC3"></div>
  </div>
</div>